{% extends 'base.html' %} {% load static %} {% load mathfilters %} {% block content %}
{{ lyric.lines|json_script:"js-lyrics" }}


<!-- Pre-load animation -->
<div class="er-over-screen er-show-block" id="er-wait-screen">
    <div class="er-wait-ani">
        <h1>Loading wave</h1>
    </div>
</div>

<!-- Black row for current lyric background -->
<div class="er-lyrics-gradient">
</div>



<!-- lyrics scroll - top position is lyricposition in ms -->
<div class="er-lyrics-wrap">
    <div id="er-lyrics">
        {% for key,value in lyric.lines.items %}
        <div class="er-line" style="top:{{key|div:7}}px;" id="er-line-{{key}}">
            <p>{{value.line}}</p>
        </div>

        {% endfor %}
        <div class="er-current-line" id="er-current-line">
            <p> </p>
        </div>
    </div>

</div>

<!-- Control panel at bottom page -->
<article class="er-controls-wrap">
    <div class="er-control-row er-edit-row">
        <!-- Edit buttons -->
        <div class="er-control-big er-log-wrap" id="er-system-log">

        </div>
        <div class="er-control-small">
        </div>

        <div class="er-control-big">
        </div>

    </div>
    <!-- Edit panels -->
    <div class="er-control-row er-edit-row">
        <!-- Edit buttons -->
        <div class="er-control-big er-edit-wrap">
            <table class="er-edit-table">
                <tr>
                    <td class="er-cell-center">
                        <div class="er-edit-button" id="er-edit-wave">
                            <div class="er-edit-label">WAVE</div>
                            <i class="fas fa-wave-square"></i>
                        </div>
                    </td>
                    <td class="er-cell-center">
                        <div class="er-edit-button" id="er-edit-comments">
                            <div class="er-edit-label">CHAT</div>
                            <i class="fas fa-comments"></i>
                        </div>
                    </td>
                    <td class="er-cell-center">
                        <div class="er-edit-button" id="er-edit-current">
                            <div class="er-edit-label">EDIT</div>
                            <i class="fas fa-edit"></i>
                        </div>
                    </td>
                    <td class="er-cell-center">
                        <div class="er-edit-button" id="er-delete-current">
                            <div class="er-edit-label">DELETE</div>
                            <i class="far fa-trash-alt"></i>
                        </div>
                    </td>

                </tr>
            </table>
        </div>
        <!-- Active lyric positon display -->
        <div class="er-control-small er-edit-wrap er-cell-center" id="er-position-wrap">
            <table>
                <tr>
                    <td>
                        <div class="er-display-status" id="er-comments-status">
                            <i class="fas fa-comments"></i>
                        </div>
                    </td>
                    <td>
                        <div class="er-edit-label" id="er-position-label">CURRENT LYRIC POSITION</div>
                        <div class="er-position-display" id="er-active-position">00:00:000</div>

                    </td>
                    <td>
                        <div class="er-edit-button" id="er-endpoint-status">
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </td>
                </tr>
            </table>
            <input type="hidden" id="er-display-position">
        </div>
        <!-- Switchable edit screens
                                <div class="er-edit-button er-edit-right er-edit-slide" id="er-edit-lyric">
                            <span id="er-right-position"></span><span id="er-right-endpoint"></span><br>
                        </div>
        -->
        <div class="er-control-big er-edit-wrap" id="er-display-wrap">

            <table class="er-display">
                <tr>
                    <td class="er-confirm er-control-green er-hover-dark er-control-hide" id="er-confirm">
                        <i class="fas fa-check"></i>
                    </td>
                    <td class="er-confirm er-control-yellow er-hover-dark er-control-hide" id="er-lick">
                        <i class="fas fa-location-arrow"></i>
                    </td>
                    <td class="er-cell-center" id="er-log">

                        This is a test

                    </td>
                    <td class="er-cancel er-control-red er-hover-dark er-control-hide" id="er-cancel">
                        <i class="fas fa-ban"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- text input for lyrics and comments -->
    <div class="er-control-row er-input-row">
        <form action="/lyrics/add/" method="POST" id="er-lick-lyric">
            {% csrf_token %}
            <input type="text" id="er-lyric-input" placeholder="Click here to lick a lyric while playing or hit pause"
                autocomplete="off">
            <button><i class="fas fa-microphone-alt"></i><i class="fas fa-location-arrow"></i></button>
            <input type="hidden" id="er-input-position">
            <input type="hidden" id="er-input-endpoint" value="-1">
            <input type="hidden" id="er-original-position" value="-1">
        </form>


    </div>


    <!-- Transport controls for audio -->
    <div class="er-control-row er-audio-row">
        <table class="er-controls">

            <tr>
                <td class="er-small-td">


                </td>

                <td class="er-big-td">


                    <div class="er-group-wrap">
                        <div class="er-group-control">
                            <div class="er-control-label"></div>
                            <div class="er-control-button" id="er-control-stop">

                                <div class="er-control">
                                    <i class="fas fa-stop"></i>
                                </div>
                            </div>
                            <div class="er-control-label">STOP</div>
                        </div>

                        <div class="er-group-control">
                            <div class="er-control-label"></div>
                            <div class="er-control-button" id="er-control-play">
                                <div class="er-control">
                                    <i class="fas fa-play"></i>
                                </div>
                            </div>
                            <div class="er-control-button er-control-hide" id="er-control-pause">
                                <div class="er-control">
                                    <i class="fas fa-pause"></i>
                                </div>
                            </div>
                            <div class="er-control-label">PLAY</div>
                        </div>
                        <div class="er-group-divider"></div>
                        <div class="er-group-control">
                            <div class="er-control-label er-skip-status"></div>
                            <div class="er-control-button" id="er-control-previous">
                                <div class="er-control">
                                    <i class="fas fa-step-backward"></i>
                                </div>
                            </div>
                            <div class="er-control-label">PREV</div>
                        </div>
                        <div class="er-group-space"></div>
                        <div class="er-group-control">
                            <div class="er-control-label er-skip-border">SKIP</div>
                            <div class="er-control-button" id="er-control-backward">
                                <div class="er-control">
                                    <i class="fas fa-backward"></i>
                                </div>
                            </div>
                            <div class="er-control-label er-control-field">-<span class="er-skip-length"></span></div>
                        </div>

                        <div class="er-group-control">
                            <div class="er-control-label er-skip-border">ADJUST</div>
                            <div class="er-button-doubler">
                                <div class="er-half-button er-half-top er-control-active" id="er-skip-plus">
                                    <div class="er-control">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                </div>

                                <div class="er-half-button er-half-bottom er-control-active" id="er-skip-minus">
                                    <div class="er-control">
                                        <i class="fas fa-minus"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="er-control-label">MS</div>
                        </div>

                        <div class="er-group-control">
                            <div class="er-control-label er-skip-border">SKIP</div>
                            <div class="er-control-button" id="er-control-forward">
                                <div class="er-control">
                                    <i class="fas fa-forward"></i>
                                </div>
                            </div>
                            <div class="er-control-label er-control-field">+<span class="er-skip-length"></span></div>
                        </div>
                        <div class="er-group-space"></div>
                        <div class="er-group-control">
                            <div class="er-control-label er-skip-status"></div>
                            <div class="er-control-button" id="er-control-next">
                                <div class="er-control">
                                    <i class="fas fa-step-forward"></i>
                                </div>
                            </div>
                            <div class="er-control-label">NEXT</div>
                        </div>

                        <div class="er-group-divider"></div>

                        <div class="er-group-control">
                            <div class="er-control-label"></div>
                            <div class="er-control-button" id="er-control-loop">

                                <div class="er-control">
                                    <i class="fas fa-sync"></i>
                                </div>
                            </div>
                            <div class="er-control-label">LOOP</div>
                        </div>
                        <div class="er-group-control">
                            <div class="er-control-label"></div>
                            <div class="er-control-button" id="er-control-loop">

                                <div class="er-control">
                                    <i class="fas fa-sync"></i>
                                </div>
                            </div>
                            <div class="er-control-label">LOOP</div>
                        </div>
                    </div>
                </td>
                <td>

                </td>
                <td class="er-cell-right er-control-time">
                    <div id="er-current-time">00:00:000</div>
                    <div id="er-total-time">--:--:---</div>
                </td>
            </tr>

        </table>
    </div>
    <!-- Waveform -->
    <div class="er-control-row">
        <div id="waveform"></div>
    </div>
    <!-- Waveform timeline -->
    <div class="er-control-row">
        <div id="wave-timeline"></div>
    </div>



</article>

<!-- Load wavesurfer audio player -->
<script>
    function waveHeight() {
        if (window.innerWidth < 576) {
            return 18;
        } else {
            return 32;
        }
    }

    var wavesurfer = WaveSurfer.create({
        container: '#waveform',
        waveColor: '#41c346',
        progressColor: '#DADADA',
        cursorColor: "#FF0000",
        cursorWidth: "5",
        height: waveHeight(),
        interact: true,
        hideScrollbar: true,
        responsive: true,
        plugins: [
            WaveSurfer.timeline.create({
                container: "#wave-timeline",
                primaryColor: "#ffffc970",
                secondaryColor: "#ffffc970",
                primaryFontColor: "#ffffc970",
                secondaryFontColor: "#ffffc970",
                fontSize: "9",
                notchPercentHeight: "30"
            })
        ]
    });
    wavesurfer.load('{{ MEDIA_URL }}{{ sound.audio }}');
    console.log(wavesurfer);
</script>
<!-- Load screen events for workspace -->
<script src="{% static 'js/workspaceEvents.js' %}"></script>


{% endblock %}