{% extends 'base.html' %} {% load static %} {% load mathfilters %} {% block content %}

{{ lyric.lines|json_script:"js-lyrics" }}




<div class="er-waveform">
    <div id="wave-timeline">
    </div>
    <div id="waveform">
    </div>
</div>
<div class="er-lyrics-gradient">
</div>
<div id="er-current-ms"></div>
<div id="er-current-line">
    <p>{{value.line}}</p>
</div>
<div class="er-lyrics-wrap">


    <div id="er-lyrics">

        {% for key,value in lyric.lines.items %}
        <div class="er-line" style="top:{{key|div:7}}px;" id="er-line-{{key}}">
            <p>{{value.line}}</p>
        </div>
        <div class="er-current-line" id="er-big-{{key}}">
            <p>{{value.line}}</p>
        </div>
        {% endfor %}

    </div>
</div>
<article class="er-controls-wrap">
    <table>
        <form action="/lyrics/add/" method="POST" id="er-add-line">
            {% csrf_token %}
            <tr>
                <td class="er-current-cell">
                    <input type="text" id="er-line-input"
                        placeholder="Click to add your lyric and keep playing or hit pause" autocomplete="off">
                </td>
                <td class="er-button-cell">
                    <button class="er-button">
                        <i class="fas fa-plus"></i>
                    </button>
                </td>
            </tr>
        </form>

        <tr>
            <td>
                <input type="range" min="1" max="100" value="0" class="er-slider-play" id="er-slider-input">
            </td>

        </tr>

        <tr>
            <td>
                <table class="er-controls">
                    <tr>
                        <td>Play</td>
                        <td>Stop</td>
                        <td><span id="er-skip-length"></span> ms</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="er-control-button" id="er-control-play">
                                <div class="er-control">
                                    <i class="fas fa-play"></i>
                                </div>
                            </div>
                            <div class="er-control-button er-control-hide" id="er-control-pause">
                                <div class="er-control">
                                    <i class="fas fa-pause"></i>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="er-control-button" id="er-control-stop">
                                <div class="er-control">
                                    <i class="fas fa-stop"></i>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="er-control-button" id="er-control-backward">
                                <div class="er-control"><i class="fas fa-step-backward"></i>
                                </div>
                            </div>
                            <div class="er-button-doubler">
                                <div class="er-half-button er-half-top er-control-active" id="er-skip-plus">
                                    <div class="er-control">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                </div>

                                <div class="er-half-button er-half-bottom er-control-active" id="er-skip-minus">
                                    <div class="er-control">
                                        <i class="fas fa-minus"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="er-control-button" id="er-control-forward">
                                <div class="er-control">
                                    <i class="fas fa-step-forward"></i>

                                </div>

                            </div>
                        </td>


                    </tr>

                </table>
            </td>

            <td class="er-control-time">
                <div id="er-current-time">00:00</div>
                <div id="er-total-time">--:--</div>
            </td>

        </tr>
    </table>


</article>





<div></div>




<!-- Load Amplitude audio player -->

<script>
    function waveHeight() {
        if (window.innerWidth < 576) {
            return 64;
        } else {
            return 96;
        }
    }


    var wavesurfer = WaveSurfer.create({
        container: '#waveform',
        waveColor: '#41c346',
        progressColor: '#DADADA',
        cursorColor: "#FF0000",
        cursorWidth: "5",
        height: waveHeight(),
        interact: false,
        responsive: true,
        plugins: [
            WaveSurfer.timeline.create({
                container: "#wave-timeline",
                primaryColor: "rgba(255, 255, 255, 0.7)",
                secondaryColor: "rgba(255, 255, 255, 0.4)",
                primaryFontColor: "rgba(255, 255, 255, 0.6)",
                secondaryFontColor: "rgba(255, 255, 255, 0.3)",
            })
        ]
    });
    wavesurfer.load('{{ MEDIA_URL }}{{ sound.audio }}');
    console.log(wavesurfer);
</script>

<script src="{% static 'js/workspaceEvents.js' %}"></script>







{% endblock %}