@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
/* 
@import url('db.onlinewebfonts.com/c/233131eb5b5e4a930cbdfb07008a09e1?family=LCD');
@font-face {
    font-family: "LCD";
    src: url("//db.onlinewebfonts.com/t/233131eb5b5e4a930cbdfb07008a09e1.eot");
    src: url("//db.onlinewebfonts.com/t/233131eb5b5e4a930cbdfb07008a09e1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/233131eb5b5e4a930cbdfb07008a09e1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/233131eb5b5e4a930cbdfb07008a09e1.woff") format("woff"), url("//db.onlinewebfonts.com/t/233131eb5b5e4a930cbdfb07008a09e1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/233131eb5b5e4a930cbdfb07008a09e1.svg#LCD") format("svg");
}
*/

html {
    font-size: 16px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    color: rgba(255, 255, 201, 0.9);
    overflow: hidden;
    margin: 0;
    background-image: url('/static/images/blackboard.jpg');
}

a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

.er-screen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.er-wait-ani {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 32vh;
}

.er-over-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    z-index: 6000;
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 1) 100%);
}

.er-show-block {
    display: block;
}

.er-input-helpers {
    opacity: 1;
}

div {
    box-sizing: border-box;
}

h1 {
    font-size: 1.5rem;
    text-align: right;
    padding-right: 1rem;
    font-family: 'Audiowide', cursive;
    letter-spacing: 0.2rem;
    color: rgba(197, 21, 37);
}

/* -------------------------Wraps (locations) */

#er-input-wrap {
    bottom: 0rem;
}

#er-panels-wrap {
    top: 2.9rem;
    bottom: unset;
    z-index: 5000;
}

#er-waveform-wrap {
    z-index: 6000;
    top: 22rem;
    bottom: unset;
}

#er-controls-wrap {
    z-index: 5000;
    top: 7.5rem;
}

.er-edit-button {
    z-index: 10000;
}

/* -------------------------header */

.er-header {
    position: absolute;
    height: 3.2rem;
    top: 0rem;
    right: 0;
    width: 100vw;
    z-index: 5000;
    border-width: 0.1px;
    border-color: rgba(255, 255, 255, 0.3);
}

header a {
    color: unset;
    text-decoration: none;
}

header a:hover {
    color: unset;
    text-decoration: none;
}

header a:active {
    color: unset;
    text-decoration: none;
}

.er-logo {
    position: fixed;
    top: 0.6rem;
    right: 1rem;
    font-size: 1.5rem;
    text-align: right;
    font-family: 'Audiowide', cursive;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: rgba(197, 21, 37);
}

nav {
    display: flex;
    align-items: flex-end;
}

nav div {
    align-self: flex-end;
}

.er-menu-item {
    margin: 0.3rem 1rem;
    font-size: 0.6rem;
    display: none;
}

.er-mobile-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.er-mobile-menu p {
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
}

.er-mobile-menu p i {
    font-size: 1.5rem;
}

.er-site-wrap {
    max-width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 0.5rem;
    position: absolute;
    right: 0;
    top: 4.8rem;
    z-index: 3000;
    overflow: hidden;
    background-color: rgb(10, 51, 74, 0.3);
    padding: 0.3rem 1rem;
    vertical-align: middle;
    border-width: 1px;
    border-bottom-style: solid;
    border-color: rgba(255, 255, 201, .4);
    border-width: 1px;
    border-radius: 0.3rem;
}

.er-form-wrap div {
    display: block;
}

.er-form-wrap {
    width: 20rem;
}

.er-form-wrap input[type=text], input[type=password] {
    display: block;
}

.er-form-wrap label {
    display: table-cell;
    text-align: left;
    width: 100%;
    padding: 0.2rem 0.5rem;
    font-size: 0.6rem;
    color: rgba(255, 255, 201, 0.9);
}

.buttonHolder {
    display: table-cell;
    text-align: right;
    padding: 0.5rem 0.3rem;
}

.buttonHolder input {
    padding: 0.4rem 0.6rem;
    background-color: unset;
    font-size: 0.6rem;
    color: rgba(255, 255, 201, 0.9);
}

/* -------------------------Lyrics field */

.er-lyrics-gradient {
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 47%, rgba(0, 0, 0, 0.8) 57%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    top: 0vh;
    left: 0;
    width: 100vw;
    height: 66vh;
    z-index: 2000;
}

.er-lyrics-wrap {
    position: absolute;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#er-lyrics {
    margin-top: 33vh;
    position: relative;
    right: 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.9);
}

.er-current-line {
    display: table-cell;
    text-align: center;
    width: 100vw;
    opacity: 1;
    z-index: 4000;
    position: fixed;
    top: 33vh;
    color: rgba(209, 255, 211);
    font-size: 0.8rem;
    letter-spacing: 1px;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 0.25s;
}

.er-current-line p {
    text-align: center;
}

.er-line {
    opacity: 0.4;
    width: 100%;
    color: rgba(211, 100, 110, 0.4);
    font-size: 0.9rem;
    letter-spacing: 1px;
    position: absolute;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 1.5s;
}

.er-line p {
    text-align: center;
}

.er-line-active {
    opacity: 1;
}

.er-line-in {
    color: rgba(209, 255, 211);
    opacity: 1;
    font-size: 0.8rem;
}

.er-line-out {
    opacity: 0.2;
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.1);
}

/* -------------------------Control Panel */

.er-wrap {
    position: absolute;
    left: 0;
    width: 100vw;
}

#wave-timeline {
    display: none;
}

.er-control-row {
    overflow: hidden;
    width: 100%;
    padding: 0.3rem 0;
    text-align: center;
}

.er-control-small {
    width: 28%;
    display: inline-block;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.er-control-big {
    width: 36%;
    display: inline-block;
}

/* -------------------------Edit section */

.er-edit-row {
    display: flex;
    opacity: 1;
    font-size: 0.9rem;
}

.er-edit-row i {
    vertical-align: middle;
    font-size: 0.9rem;
}

#er-edit-wrap {
    display: inline-block;
}

#er-position-wrap {
    width: 100vw;
}

#er-display-wrap {
    display: inline-block;
}

.er-edit-wrap {
    overflow: hidden;
    width: 100%;
    height: 3rem;
    background-color: rgb(10, 51, 74, 0.3);
    padding: 0.3rem 1rem;
    vertical-align: middle;
    border-width: 1px;
    border-top-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgba(255, 255, 201, .4);
    border-width: 1px;
}

#er-display-wrap {
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#er-message-display {
    display: none;
}

#er-edit-wave {
    position: absolute;
    left: 5vw;
}

#er-edit-comments {
    position: absolute;
    left: 14vw;
}

#er-edit-current {
    position: absolute;
    left: unset;
    right: 14vw;
}

#er-delete-current {
    position: absolute;
    left: unset;
    right: 5vw;
}

#er-message-display {
    width: 28vw;
    padding-top: 0.6rem;
    position: absolute;
    right: 5vw;
}

.er-confirm {
    float: left;
}

.er-cancel {
    float: right;
}

.er-tussen-wrap {}

.er-edit-wrap i {
    color: rgba(0, 0, 0, 0.2);
}

.er-display {
    font-family: 'LCD';
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    color: rgba(255, 255, 201, 0.6);
    border-radius: 0.3rem;
}

.er-display i {
    font-size: 0.95rem;
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
}

.er-display-status {
    display: inline-block;
}

.er-log-wrap {
    max-height: 25rem;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    color: rgba(255, 255, 201, 0.5);
    padding: 0.3rem 1rem;
    margin-left: 0.2rem;
    margin-right: 0.3rem;
    vertical-align: middle;
}

.er-edit-table td {
    width: 25%;
}

.er-edit-right {
    height: 0%;
    overflow: hidden;
}

.er-edit-right span {
    color: rgba(255, 255, 201, 0.9);
    font-size: 0.4rem;
    letter-spacing: 0.04;
}

.er-edit-slide {
    height: unset;
}

.er-edit-head {
    width: 100%;
    margin-bottom: -0.5rem;
}

.er-edit-red {
    border-color: rgba(211, 100, 110, 0.9);
}

.er-edit-yellow {
    border-color: rgba(195, 195, 19, 1);
}

.er-edit-blue {
    border-color: rgb(52, 164, 232);
}

.er-edit-green {
    border-color: rgb(65, 195, 70);
}

.er-edit-button {
    opacity: 1;
    display: inline-block;
}

.er-edit-button i {
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
}

.er-edit-label {
    height: 0.6rem;
    font-size: 0.5rem;
    font-weight: 200;
    color: rgba(255, 255, 201, 0.6);
    letter-spacing: 0.15rem;
    margin-bottom: 0.2rem;
    display: block;
}

.er-edit-label span {
    display: none;
}

/* -------------------------input section */

input[type=text], input[type=password] {
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
    text-align: center;
    color: rgba(255, 255, 201);
    background-color: rgba(0, 0, 0, 0.3);
    border-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-width: 1px;
    border-radius: 0.3rem;
    border-color: rgba(255, 255, 201, .4);
}

.er-input-red input[type=text] {
    border-color: rgba(211, 100, 110, 0.9);
    z-index: 6000;
}

.er-input-yellow input[type=text] {
    border-color: rgba(195, 195, 19, 1);
    z-index: 6000;
}

input[type=text]:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(195, 195, 19, 0.35);
    border-width: 0.1rem;
}

input[type=range] {
    height: 1rem;
    width: 100%;
}

input::placeholder {
    color: rgba(181, 181, 158, 0.65);
}

button {
    cursor: pointer;
    box-sizing: border-box;
    vertical-align: middle;
    height: 1.83rem;
    width: 4rem;
    margin: -0.05rem 0 0.3rem -4.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.6rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0 0.3rem 0.3rem 0;
    border-style: none;
}

button:focus {
    outline: none;
}

button i {
    font-size: 0.8rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    text-align: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.1);
}

.er-active-button button i {
    color: rgba(195, 195, 19, 0.8);
}

.er-active-button button:hover i {
    color: rgba(195, 195, 19, 0.95);
}

.er-active-button button:hover i {
    font-size: 0.9rem;
}

.er-input-row {
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0.1rem;
    padding-bottom: 0;
}

.er-input-helpers {
    position: absolute;
    bottom: 9.75rem;
    font-size: 0.6rem;
    color: rgba(255, 255, 201, 0.9);
}

#er-edit-position {
    left: 3rem;
}

#er-cancel-input {
    cursor: pointer;
    right: 6.7rem;
}

.er-position-display {
    padding-left: 0.5rem;
    color: rgba(255, 255, 201, 0.2);
    letter-spacing: 0.5rem;
}

#er-active-line {
    overflow: hidden;
    padding-left: 1rem;
    white-space: nowrap;
    font-size: 0.65rem;
    color: rgba(255, 255, 201, 0.9);
}

/* -------------------------Audio control section */

.er-audio-row {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.2rem;
    letter-spacing: 0.05rem;
}

.er-group-control {
    width: 12vw;
    height: 3.8rem;
    margin: 0;
    padding: 0;
    display: inline-block;
    z-index: 5000;
}

.er-control-label {
    display: inline-block;
    overflow: hidden;
    height: 0.8rem;
    margin: 0rem auto;
    font-size: 0.45rem;
    font-weight: 400;
    color: rgba(255, 255, 201, 0.6);
    letter-spacing: 0.15rem;
    padding: 0.1rem 0rem;
}

.er-control-label span {
    display: none;
}

.er-desktop-label {
    display: none;
}

.er-mobile-label {
    display: inline-block;
}

.er-mobile-label span {
    display: inline-block;
}

.er-empty-label {
    display: inline-block;
    margin: 0.3rem auto;
    height: 0.8rem;
}

.er-control-field {
    overflow: hidden;
    border-radius: 0.45rem;
}

.er-control {
    opacity: 1;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.4;
    transition-timing-function: ease-in-out;
}

.er-control-button {
    height: 1.4rem;
    margin: 0.3rem auto;
}

.er-skip-ms {
    padding: 0.1rem 0;
    height: 0.8rem;
    color: rgba(255, 255, 255, 0.2);
}

.er-control-button i {
    color: rgba(0, 0, 0, 0.2);
    font-size: 1.4rem;
}

#er-skip-wrap {}

.er-half-button {
    height: 0.8rem;
    display: block;
    cursor: pointer;
}

.er-half-label {
    display: none;
}

.er-half-top {
    margin-top: 0rem;
    margin-bottom: 0.7rem;
}

.er-half-bottom {
    margin-top: 0rem;
}

.er-half-button i {
    color: rgba(0, 0, 0, 0.2);
    font-size: 0.45rem;
}

.er-button-doubler {
    margin-bottom: 0rem;
}

.er-group-divider {
    margin: 0 2rem;
    padding: 0;
    width: 0.03rem;
    height: 4.2rem;
    display: none;
    background: linear-gradient(180deg, rgba(70, 72, 71, 0) 0%, rgba(70, 72, 71, 1) 10%, rgba(70, 72, 71, 0.9) 66%, rgba(35, 35, 36, 0) 100%);
    border-left-style: solid;
    border-right-style: solid;
    border-color: rgba(255, 255, 201, 0.08);
    border-width: 0.01px;
}

.er-group-space {
    margin: 0;
    padding: 0;
    width: 0.8rem;
    height: 4.2rem;
    display: none;
}

.er-control-time {
    position: fixed;
    bottom: 10rem;
    right: 1rem;
}

#er-current-time {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    color: rgba(211, 100, 110, 0.9);
    margin-bottom: 0.3rem;
}

#er-total-time {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    margin-top: 0.3rem;
    color: rgba(255, 255, 255, 0.25);
}

.er-half-td {
    width: 16%;
}

.er-small-td {
    width: 7%;
}

.er-big-td {
    width: 86%;
}

.er-group-oud {
    overflow: hidden;
    display: inline-block;
    width: unset;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, rgba(70, 72, 71, 0) 0%, rgba(35, 35, 36, 0.7) 100%);
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-color: rgba(255, 255, 201, 0.125);
    border-width: 0.01px;
    border-radius: 6rem;
    box-shadow: 3px 3px 1px rgba(56, 58, 57, 0.3);
}

.er-group-space2 {
    margin: 0 0rem;
    padding: 0;
    width: 0rem;
    height: 5.2rem;
    display: inline-block;
    background: linear-gradient(180deg, rgba(70, 72, 71, 0) 0%, rgba(35, 35, 36, 0.2) 33%, rgba(35, 35, 36, 0.3) 66%, rgba(35, 35, 36, 0) 100%);
    border-left-style: dotted;
    border-right-style: dotted;
    border-color: rgba(35, 35, 36, 0.3);
    border-width: 0.01px;
}

.er-skip-border {
    border-bottom-style: none;
    border-color: rgba(255, 255, 201, 0.1);
    border-width: 0.01px;
    margin-bottom: 0px!important;
}

.er-skip-bottom {
    border-bottom-style: none;
    border-color: rgba(255, 255, 201, 0.1);
    border-width: 0.01px;
}

.er-skip-line {
    color: rgba(255, 255, 201, 0.08);
}

.er-control-button-oud {
    overflow: hidden;
    width: 2rem;
    height: 2rem;
    margin: 0.3rem auto;
    background-color: rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 2px;
    border-radius: 1.2rem;
    box-shadow: 1px 1px 3px rgba(195, 195, 19, 0.2);
}

.er-control-hide {
    display: none;
}

.er-control-inactive i {
    color: rgba(255, 255, 255, 0.7);
}

.er-control-purple i {
    color: rgba(171, 0, 255);
}

.er-control-purple i {
    color: rgba(171, 0, 255);
}

.er-control-active i {
    color: rgba(213, 186, 255, 1);
    cursor: pointer;
}

.er-active {
    color: rgba(213, 186, 255, 0.8);
}

.er-control-blink i {
    animation: blinker 1s linear infinite;
}

.er-blink {
    animation: blinker 0.2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.3;
    }
}

.er-red {
    color: rgba(211, 100, 110, 0.9);
}

.er-control-green i {
    color: rgb(65, 195, 70);
}

.er-green {
    color: rgb(65, 195, 70);
}

.er-control-red i {
    color: rgba(211, 100, 110, 0.9);
}

.er-control-yellow i {
    color: rgba(156, 156, 19, 8);
}

.er-yellow {
    color: rgba(156, 156, 19, 8);
}

.er-dark {
    color: rgba(255, 255, 201, 0.2);
}

.er-blue {
    color: rgb(55, 139, 236);
}

.er-control-blue i {
    color: rgb(65, 0, 255);
}

.er-control-hya {
    color: rgb(136, 0, 255);
}

.er-control-hya i {
    color: rgb(136, 0, 255);
}

.er-hover-hya:hover i {
    color: rgb(136, 0, 255);
    cursor: pointer;
}

.er-control-purple i {
    color: rgba(120, 0, 179);
}

.er-hover-purple:hover i {
    color: rgba(171, 0, 255);
    cursor: pointer;
}

.er-purple {
    color: rgba(151, 33, 255);
}

.er-control-dark i {
    color: rgba(255, 255, 201, .2);
}

.er-hover-green:hover i {
    color: rgb(65, 195, 70);
    cursor: pointer;
}

.er-hover-red:hover i {
    color: rgba(211, 100, 110, 0.9);
    cursor: pointer;
}

.er-hover-yellow:hover i {
    color: rgba(195, 195, 19, 1);
    cursor: pointer;
}

.er-hover-dark:hover i {
    color: rgba(255, 255, 201, 0.2);
    cursor: pointer;
}

.er-hover-blue:hover i {
    color: rgb(55, 139, 236);
    cursor: pointer;
}

.er-hover-grey i:hover {
    color: rgba(255, 255, 201, 0.6);
    cursor: pointer;
}

/* -------------------------Form classes */

table {
    width: 100%;
}

td {
    text-align: center;
    vertical-align: middle;
}

.er-cell-left {
    text-align: left;
}

.er-cell-right {
    text-align: right;
}

.er-cell-center {
    text-align: center;
}

.er-cell-justify {
    text-align: justify;
}

.er-add-cell {
    width: 2rem;
    text-align: right;
}

.er-log-cell {}

.er-log-cell span {
    color: rgba(255, 255, 201, 0.5);
    font-size: 0.65rem;
    font-weight: 100;
    letter-spacing: 0.05rem;
    line-height: 1.8rem;
}

.er-button-label {
    display: none;
}

input[type=range] {
    width: 100%;
    margin: 0.6rem 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #323232;
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4.8px;
    width: 100%;
    height: 5.8px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -16.7px;
    width: 5px;
    height: 39px;
    background: #41c346;
    border: 0.px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #333333;
}

input[type=range]::-moz-range-track {
    background: #323232;
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4.8px;
    width: 100%;
    height: 5.8px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 5px;
    height: 39px;
    background: #41c346;
    border: 0.px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 16.6px 0;
    color: transparent;
    width: 100%;
    height: 5.8px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #313131;
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    border-radius: 9.6px;
}

input[type=range]::-ms-fill-upper {
    background: #323232;
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    border-radius: 9.6px;
}

input[type=range]::-ms-thumb {
    width: 5px;
    height: 39px;
    background: #41c346;
    border: 0.px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
    background: #323232;
}

input[type=range]:focus::-ms-fill-upper {
    background: #333333;
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/

@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}

@media(min-width: 576px) {
    html {
        font-size: 16px;
    }
    .er-header {
        width: 80vw;
        height: 4.8rem;
        top: 0;
        border-bottom-style: solid;
    }
    .er-logo {
        display: block;
        font-size: 1.8rem;
        top: 1.6rem;
    }
    .er-waveform-old {
        left: -42vh;
        top: 43vh;
        width: 100vh;
    }
    .er-current-line {
        font-size: 1rem;
    }
    .er-line {
        font-size: 1.3rem;
    }
    .er-line-in {
        font-size: 1rem;
    }
    .er-line-out {
        font-size: 0.8rem;
    }
    .er-input-row {
        position: unset;
        top: unset;
    }
    .er-control-time {
        bottom: 20rem;
    }
    .er-wrap {
        padding-left: 2vw;
        padding-right: 2vw;
    }
    /* -------------------------Wraps (locations) */
    #er-input-wrap {
        bottom: 6rem;
    }
    #er-panels-wrap {
        bottom: 9rem;
        top: unset;
    }
    #er-waveform-wrap {
        bottom: 13rem;
        top: unset;
    }
    #er-controls-wrap {
        bottom: 0;
        top: unset;
    }
    #er-edit-wrap {
        display: inline-block;
        border-radius: 0.3rem;
    }
    .er-edit-label span {
        display: inline-block;
    }
    #er-edit-wave {
        position: absolute;
        left: 5vw;
    }
    #er-edit-comments {
        position: absolute;
        left: 14vw;
    }
    #er-edit-current {
        position: absolute;
        right: unset;
        left: 23vw;
    }
    #er-delete-current {
        position: absolute;
        right: unset;
        left: 32vw;
    }
    #er-position-wrap {
        width: 28%;
    }
    #er-display-wrap {
        display: inline-block;
    }
    #er-message-display {
        display: inline-block;
        width: unset;
    }
    #wave-timeline {
        display: block;
        opacity: 0.5;
    }
    .er-group-control {
        width: 10vw;
    }
    .er-control-label {
        width: 5rem;
    }
    .er-control-label span {
        display: inline-block;
    }
    .er-desktop-label {
        display: inline-block;
    }
    .er-mobile-label {
        display: none;
    }
    .er-skip-border, .er-skip-bottom {
        border-bottom-style: solid;
    }
    .er-half-button {
        display: block;
    }
    .er-group-divider {
        display: inline-block;
    }
    .er-group-divider {
        display: inline-block;
    }
    .er-control-field {
        background-color: none;
    }
    .er-button-label {
        display: inline;
    }
    input[type=text] {
        font-size: 0.7rem;
    }
}

.er-hide {
    opacity: 0;
}