@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
html {
    font-size: 15px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    margin: 0;
    background-image: url('/static/images/blackboard.jpg');
}

.er-screen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.er-wait-ani {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 32vh;
}

.er-over-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    z-index: 6000;
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 1) 100%);
}

.er-show-block {
    display: block;
}

.er-input-helpers {
    opacity: 1;
}

div {
    box-sizing: border-box;
}

h1 {
    font-size: 1.5rem;
    text-align: right;
    padding-right: 1rem;
    font-family: 'Audiowide', cursive;
    letter-spacing: 0.2rem;
    color: rgba(197, 21, 37);
}

/* -------------------------header */

.er-header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 10vh;
    border-bottom-style: solid;
    border-width: 0.1px;
    border-color: rgba(255, 255, 255, 0.3);
}

header a {
    color: unset;
    text-decoration: none;
}

header a:hover {
    color: unset;
    text-decoration: none;
}

header a:active {
    color: unset;
    text-decoration: none;
}

.er-mobile-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.er-mobile-menu p {
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
}

.er-mobile-menu p i {
    font-size: 1.5rem;
}

/* -------------------------Lyrics field */

.er-lyrics-gradient {
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 47%, rgba(0, 0, 0, 0.8) 57%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    top: 0vh;
    left: 0;
    width: 100vw;
    height: 66vh;
    z-index: 2000;
}

.er-lyrics-wrap {
    position: absolute;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#er-lyrics {
    margin-top: 33vh;
    position: relative;
    right: 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.9);
}

.er-current-line {
    display: table-cell;
    text-align: center;
    width: 100vw;
    opacity: 1;
    z-index: 3000;
    position: fixed;
    top: 33vh;
    color: rgba(209, 255, 211);
    font-size: 0.8rem;
    letter-spacing: 1px;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 0.25s;
}

.er-current-line p {
    text-align: center;
}

.er-line {
    opacity: 0.4;
    width: 100%;
    color: rgba(211, 100, 110, 0.4);
    font-size: 0.9rem;
    letter-spacing: 1px;
    position: absolute;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 1.5s;
}

.er-line p {
    text-align: center;
}

.er-line-active {
    opacity: 1;
}

.er-line-in {
    color: rgba(209, 255, 211);
    opacity: 1;
    font-size: 0.8rem;
}

.er-line-out {
    opacity: 0.2;
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.1);
}

/* -------------------------Control Panel */

.er-controls-wrap {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 0.5rem;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0rem;
    z-index: 3000;
}

.er-control-row {
    overflow: hidden;
    width: 100%;
    padding: 0.3rem 0;
}

.er-control-third {
    width: 33.33%;
    display: inline-block;
}

.er-control-small {
    width: 28%;
    display: inline-block;
}

.er-control-big {
    width: 36%;
    display: inline-block;
}

/* -------------------------Edit section */

.er-edit-row {
    display: flex;
    opacity: 1;
    font-size: 0.9rem;
}

.er-edit-row i {
    vertical-align: middle;
    color: rgba(195, 195, 19, 1);
    font-size: 0.9rem;
}

.er-edit-wrap {
    overflow: hidden;
    background-color: rgb(10, 51, 74, 0.3);
    padding: 0.3rem 1rem;
    margin-left: 0.2rem;
    margin-right: 0.3rem;
    vertical-align: middle;
    border-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgba(255, 255, 201, .4);
    border-width: 1px;
    border-radius: 0.3rem;
}

.er-edit-head {
    width: 100%;
    margin-bottom: -0.5rem;
}

.er-edit-red {
    border-color: rgba(211, 100, 110, 0.9);
}

.er-edit-blue {
    border-color: rgb(52, 164, 232);
}

.er-edit-green {
    border-color: rgb(65, 195, 70);
}

.er-edit-button {
    cursor: pointer;
    width: 100%;
    display: inline-block;
}

.er-edit-label {
    font-size: 0.5rem;
    font-weight: 200;
    color: rgba(255, 255, 201, 0.4);
    letter-spacing: 0.15rem;
    margin-bottom: 0.2rem;
}

/* -------------------------input section */

input[type=text] {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    box-sizing: border-box;
    width: 100%;
    height: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.5rem;
    text-align: center;
    color: rgba(255, 255, 201);
    background-color: rgba(0, 0, 0, 0.3);
    border-left-style: solid;
    border-right-style: solid;
    border-width: 0.1px;
    border-radius: 1rem;
    border-color: rgba(195, 195, 19, 0.4);
}

input[type=text]:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(195, 195, 19, 0.35);
    border-width: 0.1rem;
}

input[type=range] {
    height: 1rem;
    width: 100%;
}

input::placeholder {
    color: rgba(181, 181, 158, 0.65);
}

button {
    cursor: pointer;
    box-sizing: border-box;
    vertical-align: middle;
    height: 1.83rem;
    width: 4rem;
    margin: -0.05rem 0 0.3rem -4.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.6rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0 1rem 1rem 0;
    border-style: none;
}

button:hover {
    background-color: rgba(195, 195, 19, 0.5);
}

button:focus {
    outline: none;
}

button i {
    font-size: 0.8rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    text-align: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.1);
}

.er-active-button button {
    background-color: rgba(195, 195, 19, 0.8);
}

.er-active-button button i {
    color: rgba(0, 0, 0);
}

.er-active-button button:hover {
    background-color: rgba(195, 195, 19, 0.95);
}

.er-active-button button:hover i {
    font-size: 0.9rem;
}

.er-input-row {
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0.1rem;
}

.er-input-helpers {
    position: absolute;
    top: 4.4rem;
    font-size: 0.6rem;
    color: rgba(255, 255, 201, 0.9);
}

#er-edit-position {
    left: 4rem;
}

#er-cancel-input {
    cursor: pointer;
    right: 7.7rem;
}

#er-active-position {
    padding-left: 0.5rem;
    color: rgba(211, 100, 110, 0.9);
    letter-spacing: 0.5rem;
}

.er-display-status i {
    color: rgba(255, 255, 255, 0.1);
    font-size: 0.9rem;
}

#er-active-line {
    overflow: hidden;
    padding-left: 1rem;
    white-space: nowrap;
    font-size: 0.65rem;
    color: rgba(255, 255, 201, 0.9);
}

/* -------------------------Control section */

.er-controls {
    width: 100%;
    letter-spacing: 0.05rem;
}

.er-controls td {
    width: 33%;
}

.er-control-button {
    overflow: hidden;
    width: 2rem;
    height: 2rem;
    margin: 0 0.75rem;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    cursor: pointer;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 2px;
    border-radius: 1.2rem;
    box-shadow: 1px 1px 3px rgba(195, 195, 19, 0.2);
}

.er-control-label {
    font-size: 0.45rem;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.45);
    letter-spacing: 0.15rem;
    display: inline-block;
    width: 3.6rem;
    margin: 0 0.15rem;
}

.er-control-button:hover, .er-half-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 3px rgba(195, 195, 19, 0.3);
}

.er-control-button:active, .er-half-button:active {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 3px rgba(195, 195, 19, 0.3);
}

.er-control-button i {
    color: rgba(0, 0, 0, 0.2);
    font-size: 0.8rem;
}

.er-half-button {
    overflow: hidden;
    width: 1.8rem;
    height: 0.8rem;
    margin: 0 0.75rem;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 2px;
    border-radius: 0.8rem;
    box-shadow: 1px 1px 3px rgba(195, 195, 19, 0.2);
}

.er-half-top {
    margin-bottom: 0.5rem;
}

.er-half-bottom {
    margin-top: 0.5rem;
}

.er-half-button i {
    color: rgba(0, 0, 0, 0.2);
    font-size: 0.45rem;
}

.er-button-doubler {
    height: 2.4rem;
    display: inline-block;
}

.er-skip-ms {
    padding: 0.1rem 0;
    height: 0.8rem;
    color: rgba(255, 255, 255, 0.2);
}

.er-control {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.4;
    transition-timing-function: ease-in-out;
}

.er-control-hide {
    display: none;
}

.er-control-inactive i {
    color: rgba(255, 255, 255, 0.7);
}

.er-control-active i {
    color: rgba(255, 255, 255, 0.45);
}

.er-control-blink i {
    animation: blinker 1s linear infinite;
}

.er-blink {
    animation: blinker 0.2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.3;
    }
}

.er-red {
    color: rgba(211, 100, 110, 0.9);
}

.er-control-green i {
    color: rgb(65, 195, 70);
}

.er-control-red i {
    color: rgba(211, 100, 110, 0.9);
}

.er-control-yellow i {
    color: rgba(195, 195, 19, 1);
}

.er-blue {
    color: rgb(52, 164, 232);
}

.er-control-blue i {
    color: rgb(52, 164, 232);
}

.er-control-dark i {
    color: rgba(255, 255, 201, .2);
}

.er-hover-green:hover i {
    color: rgb(65, 195, 70);
}

.er-hover-red:hover i {
    color: rgba(211, 100, 110, 0.9);
}

.er-hover-yellow:hover i {
    color: rgba(195, 195, 19, 1);
}

.er-hover-dark:hover {
    opacity: 50%;
}

.er-hover-blue:hover i {
    color: rgb(52, 164, 232);
}

.er-hover-grey i:hover {
    color: rgba(255, 255, 201, 0.6);
}

#er-current-time {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    color: rgba(211, 100, 110, 0.9);
    margin-bottom: 0.3rem;
}

#er-total-time {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    margin-top: 0.3rem;
    color: rgba(255, 255, 255, 0.25);
}

/* -------------------------Form classes */

table {
    width: 100%;
}

td {
    text-align: center;
    vertical-align: middle;
}

.er-cell-left {
    text-align: left;
}

.er-cell-right {
    text-align: right;
}

.er-cell-center {
    text-align: center;
}

.er-cell-justify {
    text-align: justify;
}

.er-add-cell {
    width: 2rem;
    text-align: right;
}

.er-button-label {
    display: none;
}

input[type=range] {
    width: 100%;
    margin: 0.6rem 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #323232;
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4.8px;
    width: 100%;
    height: 5.8px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -16.7px;
    width: 5px;
    height: 39px;
    background: #41c346;
    border: 0.px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #333333;
}

input[type=range]::-moz-range-track {
    background: #323232;
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4.8px;
    width: 100%;
    height: 5.8px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 5px;
    height: 39px;
    background: #41c346;
    border: 0.px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 16.6px 0;
    color: transparent;
    width: 100%;
    height: 5.8px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #313131;
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    border-radius: 9.6px;
}

input[type=range]::-ms-fill-upper {
    background: #323232;
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    border-radius: 9.6px;
}

input[type=range]::-ms-thumb {
    width: 5px;
    height: 39px;
    background: #41c346;
    border: 0.px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
    background: #323232;
}

input[type=range]:focus::-ms-fill-upper {
    background: #333333;
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/

@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}

@media(min-width: 576px) {
    html {
        font-size: 16px;
    }
    .er-header {
        width: 80vw;
    }
    .er-waveform-old {
        left: -42vh;
        top: 43vh;
        width: 100vh;
    }
    .er-current-line {
        font-size: 1rem;
    }
    .er-line {
        font-size: 1.3rem;
    }
    .er-line-in {
        font-size: 1rem;
    }
    .er-line-out {
        font-size: 0.8rem;
    }
    .er-control-button {
        width: 2.4rem;
        height: 2.4rem;
    }
    .er-control-button i {
        font-size: 1.1rem;
    }
    .er-button-doubler {
        height: 2.4rem;
    }
    .er-half-button {
        width: 2.4rem;
        height: 1rem;
    }
    .er-half-button i {
        font-size: 0.7rem;
    }
    .er-half-top {
        margin-bottom: 0.4rem;
    }
    .er-half-bottom {
        margin-top: 0.4rem;
    }
    .er-button-label {
        display: inline;
    }
    input[type=text] {
        font-size: 0.7rem;
    }
}

.er-hide {
    opacity: 0;
}