@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
html {
    font-size: 16px;
}

body {
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    margin: 0;
    background-image: url('/static/images/blackboard.jpg');
}

h1 {
    font-size: 1.5rem;
    text-align: right;
    padding-right: 1rem;
    font-family: 'Audiowide', cursive;
    letter-spacing: 0.2rem;
    color: rgba(177, 0, 0, 0.9);
}

/* -------------------------header */

.er-header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 10vh;
    border-bottom-style: solid;
    border-width: 0.1px;
    border-color: rgba(255, 255, 255, 0.3);
}

header a {
    color: unset;
    text-decoration: none;
}

header a:hover {
    color: unset;
    text-decoration: none;
}

header a:active {
    color: unset;
    text-decoration: none;
}

.er-mobile-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.er-mobile-menu p {
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
}

.er-mobile-menu p i {
    font-size: 1.5rem;
}

/* -------------------------Lyrics field */

.er-lyrics-gradient {
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 47%, rgba(0, 0, 0, 0.8) 57%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    top: 0vh;
    left: 0;
    width: 100vw;
    height: 66vh;
    z-index: 2000;
}

.er-lyrics-wrap {
    position: absolute;
    top: 0vh;
    right: 0;
    width: 85vw;
    height: 100vh;
    overflow: hidden;
}

#er-lyrics {
    margin-top: 33vh;
    position: relative;
    right: 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.9);
}

.er-current-line {
    width: 85vw;
    opacity: 0;
    z-index: 5000;
    position: fixed;
    right: 0;
    top: 31vh;
    font-family: 'Special Elite', cursive;
    color: rgba(255, 255, 255, 0.85);
    font-size: 1rem;
    letter-spacing: 1px;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 0.25s;
}

.er-current-line p {
    text-align: center;
}

.er-line {
    opacity: 0.4;
    width: 100%;
    font-family: 'Special Elite', cursive;
    color: rgba(255, 255, 255, 0.3);
    font-size: 1.3rem;
    letter-spacing: 1px;
    position: absolute;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 1.5s;
}

.er-line p {
    text-align: center;
}

.er-line-active {
    opacity: 1;
}

.er-line-in {
    color: rgba(255, 255, 255, 0.9);
    opacity: 1;
    font-size: 1rem;
}

.er-line-out {
    opacity: 0.2;
    font-size: 0.7rem;
}

/* -------------------------Waveform */

.er-waveform {
    position: absolute;
    left: -35vh;
    top: 35vh;
    transform: rotate(90deg);
    width: 80vh;
    z-index: 3000;
}

#wave-timeline {
    display: none;
}

/* -------------------------Control section */

.er-controls-wrap {
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    position: absolute;
    bottom: 0rem;
    right: 0;
    z-index: 9000;
}

.er-controls {
    width: 100%;
}

.er-controls td {
    text-align: center;
}

.er-control-button i {
    color: rgba(0, 0, 0, 0.2);
    font-size: 1.6rem;
}

.er-half-button {
    overflow: hidden;
    width: 1.8rem;
    height: 0.7rem;
    margin: 0 0.75rem;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 2px;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 3px rgba(195, 195, 19, 0.2);
}

.er-half-top {
    margin-bottom: 0.65rem;
}

.er-half-bottom {
    margin-top: 0.65rem;
}

.er-half-button i {
    color: rgba(0, 0, 0, 0.2);
    font-size: 0.7rem;
}

.er-button-doubler {
    height: 2.4rem;
    display: inline-block;
}

.er-skip-ms {
    padding: 0.1rem 0;
    height: 0.8rem;
    font-size: 0.55rem;
    color: rgba(255, 255, 255, 0.2);
}

.er-control-button {
    overflow: hidden;
    width: 2.4rem;
    height: 2.4rem;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    cursor: pointer;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 2px;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 3px rgba(195, 195, 19, 0.2);
}

.er-control-button:hover, .er-half-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.er-control-button:active, .er-half-button:active {
    background-color: rgba(0, 0, 0, 0.4);
}

.er-control {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.4;
    transition-timing-function: ease-in-out;
}

.er-control-hide {
    display: none;
}

.er-control-inactive i {
    color: rgba(255, 255, 255, 0.7);
}

.er-control-active i {
    color: rgba(255, 255, 255, 0.45);
}

.er-control-blink i {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.er-control-green i {
    color: rgb(65, 195, 70);
}

.er-control-red i {
    color: rgb(255, 0, 0);
}

.er-control-yellow i {
    color: rgba(195, 195, 19, 1);
}

.er-control-blue i {
    color: rgb(41, 30, 255);
}

.er-hover-green:hover i {
    color: rgb(65, 195, 70);
}

.er-hover-red:hover i {
    color: rgb(255, 0, 0);
}

.er-hover-yellow:hover i {
    color: rgba(195, 195, 19, 1);
}

.er-hover-dark:hover {
    opacity: 50%;
}

.er-hover-blue:hover i {
    color: rgb(41, 30, 255);
}

.er-control-time div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
}

#er-current-time {
    margin-bottom: 0.3rem;
    color: rgba(255, 255, 255);
}

#er-total-time {
    margin-top: 0.3rem;
    color: rgba(150, 150, 150);
}

/* -------------------------Form classes */

table {
    width: 100%;
    border-spacing: 0.4rem;
}

td {
    text-align: center;
    vertical-align: middle;
}

input[type=text] {
    height: 1.7rem;
    width: 100%;
    padding-left: 0.5rem;
    margin-bottom: 0.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
    color: rgba(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-width: 0.1px;
    border-radius: 0.2rem;
    border-color: rgba(195, 195, 19, 1);
}

input[type=range] {
    height: 1rem;
    width: 100%;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.8)
}

.er-current-milli {
    position: fixed;
    top: 66vh;
    padding: 0rem 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
    color: rgba(0, 0, 0);
    background-color: rgba(158, 180, 255, 1);
    border-style: solid;
    border-width: 0.1px;
    border-radius: 0.2rem;
    border-color: rgba(0, 0, 0);
}

.er-current-milli p {
    text-align: center;
}

.er-button-cell {
    width: 3.9rem;
}

button {
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    height: 2rem;
    padding: 0rem 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    color: rgba(0, 0, 0);
    background-color: rgba(195, 195, 19, 1);
    border-style: solid;
    border-width: 0.1px;
    border-radius: 0.2rem;
    border-color: rgba(0, 0, 0);
}

input[type=range] {
    width: 100%;
    margin: 0.6rem 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #323232;
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4.8px;
    width: 100%;
    height: 5.8px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -16.7px;
    width: 5px;
    height: 39px;
    background: #41c346;
    border: 0.px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #333333;
}

input[type=range]::-moz-range-track {
    background: #323232;
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4.8px;
    width: 100%;
    height: 5.8px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 5px;
    height: 39px;
    background: #41c346;
    border: 0.px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 16.6px 0;
    color: transparent;
    width: 100%;
    height: 5.8px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #313131;
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    border-radius: 9.6px;
}

input[type=range]::-ms-fill-upper {
    background: #323232;
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    border-radius: 9.6px;
}

input[type=range]::-ms-thumb {
    width: 5px;
    height: 39px;
    background: #41c346;
    border: 0.px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
    background: #323232;
}

input[type=range]:focus::-ms-fill-upper {
    background: #333333;
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/

@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}

@media(min-width: 576px) {
    .er-header {
        width: 80vw;
    }
    .er-waveform {
        left: -42vh;
        top: 43vh;
        width: 100vh;
    }
    #wave-timeline {
        display: block;
    }
    .er-controls-wrap {
        width: 85vw;
    }
    .er-control-button {
        width: 3rem;
        height: 3rem;
    }
    .er-control-button i {
        font-size: 1.8rem;
    }
    .er-button-doubler {
        height: 3rem;
    }
    .er-half-button {
        width: 2.4rem;
        height: 1rem;
    }
    .er-half-button i {
        font-size: 0.75rem;
    }
    .er-half-top {
        margin-bottom: 0.8rem;
    }
    .er-half-bottom {
        margin-top: 0.8rem;
    }
    input[type=text] {
        font-size: 0.7rem;
    }
}