{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Register user page -->

<article class="er-site-wrap">
    <form class="form-horizontal" method="post">
        <div class="er-form-wrap">
            <div class="er-form-row">
                <p>
                    <a class="" href="{% url 'accounts:log_in' %}?next={{ next }}" title="Goto login page">
                        Already have an account? Please log-in here <i class="fas fa-sign-in-alt"></i></a>
                </p>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
            {% crispy accounts_form accounts_form.helper %}

        </div>
    </form>
</article>

<!-- Load special screen events (highlite shop item in navbar-->

{% endblock %}